name: Dispatch build bottle (for chosen OS versions)

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  bottle:
    runs-on: ubuntu-latest
    container: ghcr.io/homebrew/ubuntu22.04:master
    permissions:
      contents: read
    defaults:
      run:
        shell: /bin/bash -e {0}
        working-directory: ${{github.workspace}}
    env:
      GITHUB_TOKEN: ${{secrets.HOMEBREW_GITHUB_PUBLIC_REPO_TOKEN}}
      HOMEBREW_GITHUB_API_TOKEN: ${{secrets.HOMEBREW_GITHUB_PUBLIC_REPO_TOKEN}}
      BOTTLES_DIR: ${{ github.workspace }}/bottles
      SCRIPT_URL: https://lsdsm.synology.me/github/actions/sweetkitten27/homebrew-core/build-bottle.sh
    steps:
      - name: Pre-test steps
        uses: Homebrew/actions/pre-build@master
        with:
          bottles-directory: ${{ env.BOTTLES_DIR }}
          cleanup: ${{ matrix.cleanup }}

      - working-directory: ${{ env.BOTTLES_DIR }}
        run: |
          mkdir build
          wget ${{ env.SCRIPT_URL }}
          sudo chmod +x build-bottle.sh
          ./build-bottle.sh
      - name: Post-build steps
        if: always()
        uses: Homebrew/actions/post-build@master
        with:
          bottles-directory: ${{ env.BOTTLES_DIR }}
          logs-directory: ${{ env.BOTTLES_DIR }}/logs

  upload:
    permissions:
      contents: read
      issues: write # for Homebrew/actions/post-comment
      pull-requests: write # for `gh pr edit`
      attestations: write # for actions/attest-build-provenance
      id-token: write # for actions/attest-build-provenance
    runs-on: ubuntu-latest
    needs: bottle
    if: inputs.upload
    container:
      image: ghcr.io/homebrew/ubuntu22.04:master
    defaults:
      run:
        shell: bash
    env:
      HOMEBREW_SIMULATE_MACOS_ON_LINUX: 1
      GH_REPO: ${{github.repository}}
      GH_NO_UPDATE_NOTIFIER: 1
      GH_PROMPT_DISABLED: 1
      BOTTLE_BRANCH: ${{github.actor}}/dispatch/${{inputs.formula}}/${{github.run_id}}
      BOTTLES_DIR: ${{ github.workspace }}/bottles
    steps:
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master
        with:
          core: true
          cask: false
          test-bot: false

      - name: Download bottles from GitHub Actions
        uses: actions/download-artifact@v4
        with:
          pattern: bottles_*
          path: ${{ env.BOTTLES_DIR }}
          merge-multiple: true

      - name: Configure Git user
        id: git-user-config
        uses: Homebrew/actions/git-user-config@master
        with:
          username: ${{ (github.actor != 'github-actions[bot]' && github.actor) || 'BrewTestBot' }}

      - name: Set up commit signing
        uses: Homebrew/actions/setup-commit-signing@master
        with:
          signing_key: ${{ secrets.BREWTESTBOT_GPG_SIGNING_SUBKEY }}

      - name: Generate build provenance
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: ${{ env.BOTTLES_DIR }}/*.tar.gz

      - name: Checkout branch for bottle commit
        working-directory: ${{steps.set-up-homebrew.outputs.repository-path}}
        run: git checkout -b "$BOTTLE_BRANCH" origin/master

      - name: Upload Bottles to My Personal Private Docker Registry
        working-directory: ${{ env.BOTTLES_DIR }}
        env:
          PUBLISHER_NAME_EMAIL: sweetkitten27 <lukestot0103@gmail.com>
        run: |
          brew pr-upload --verbose --committer="$PUBLISHER_NAME_EMAIL" --root-url="https://l1cr.lusd1.org/v2/LUSD/core"

      - name: Push commits
        uses: Homebrew/actions/git-try-push@master
        with:
          token: ${{secrets.HOMEBREW_GITHUB_PUBLIC_REPO_TOKEN}}
          directory: ${{steps.set-up-homebrew.outputs.repository-path}}
          branch: ${{env.BOTTLE_BRANCH}}
        env:
          GIT_COMMITTER_NAME: sweetkitten27
          GIT_COMMITTER_EMAIL: lukestot0103@gmail.com

      - name: Open PR with bottle commit
        id: create-pr
        working-directory: ${{steps.set-up-homebrew.outputs.repository-path}}
        env:
          GH_TOKEN: ${{secrets.HOMEBREW_GITHUB_PUBLIC_REPO_TOKEN}}
        run: |
          gh pr create \
            --base "$GITHUB_REF" \
            --body "Created by [\`brew dispatch-build-bottle\`]($RUN_URL)" \
            --title "$(git log -1 --format='%s' "$BOTTLE_BRANCH")" \
            --head "$BOTTLE_BRANCH" \
            --reviewer '${{github.actor}}'

          pull_number="$(gh pr list --head "$BOTTLE_BRANCH" --limit 1 --json number --jq '.[].number')"
          echo "pull_number=$pull_number" >> "$GITHUB_OUTPUT"
          echo "head_sha=$(git rev-parse HEAD)" >> "$GITHUB_OUTPUT"

      # There is a GitHub bug where labels are not properly recognised by workflows
      # when added by `gh pr create`. We use the CI-published-bottle-commits label in
      # the `formulae_detect` step in `tests.yml`, so let's add the label separately
      # to avoid the bug.
      - name: Label PR
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
          PR: ${{steps.create-pr.outputs.pull_number}}
        run: gh pr edit --add-label CI-published-bottle-commits "$PR"

      - name: Enable automerge
        run: gh pr merge --auto --merge --delete-branch --match-head-commit "$SHA" "$PR"
        env:
          GH_TOKEN: ${{secrets.HOMEBREW_GITHUB_PUBLIC_REPO_TOKEN}}
          PR: ${{steps.create-pr.outputs.pull_number}}
          SHA: ${{steps.create-pr.outputs.head_sha}}

      - name: Approve PR
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR: ${{ steps.create-pr.outputs.pull_number }}
        run: gh pr review --approve "$PR"

  comment:
    permissions:
      issues: write # for Homebrew/actions/post-comment
      pull-requests: write # for Homebrew/actions/post-comment
    needs: [bottle, upload]
    if: failure() && inputs.issue > 0
    runs-on: ubuntu-latest
    steps:
      - name: Post comment on failure
        uses: Homebrew/actions/post-comment@master
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          issue: ${{inputs.issue}}
          body: ":x: @${{github.actor}} bottle request for ${{inputs.formula}} [failed](${{env.RUN_URL}})."
          bot_body: ":x: Bottle request for ${{inputs.formula}} [failed](${{env.RUN_URL}})."
          bot: BrewTestBot
